.types {
    &-header {
        margin-bottom: .5rem;
    }

    &-type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.weaknesses {
    &-header {
        margin-bottom: .5rem;
    }

    &-weakness {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 1rem;
    }
}